:root {
    --primary-color: rgb(9, 0, 101);
    --secondary-color: rgb(48, 118, 189);
    --accent-color: #fff;
    --body-font-color: #000;
    --heading-font: Marker Felt, fantasy;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-family: var(--body-font);
    color: var(--body-font-color)
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

header img {
    max-width: 120px;
}

header a {
    color: var(--accent-color);
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: auto;
    padding: 15px;
    text-align: center;
    opacity: 0.83;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 20px;
}

.hero article img {
    float: right;
    width: 200px;
    border-radius: 0 15px 15px 0;
}

footer {
    text-align: center;
    border-top: 2px solid var(--primary-color)
}

.socialmedia a {
    text-decoration: none;
}