:root {
    --primary-color: rgb(7, 0, 87);
    --secondary-color: rgba(215, 201, 164, 0.75);
    --third-color: rgba(7, 0, 87, 0.85);
    --accent-color: #fff;
    --body-font-color: #000;
    --heading-font: Marker Felt, fantasy;
    --body-font: Arial, Helvetica, sans-serif;
    --grid-layout: repeat(2, 1fr);
    --border-radius-top: .5rem .5rem 0 0;
    --border-radius-bottom: 0 0 .5rem .5rem;
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    --margin-main: auto;
    --width-main: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-family: var(--body-font);
    color: var(--body-font-color);
}

header {
    display: grid;
    place-items: center;
    grid-template-columns: 30% auto;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

header img {
    max-width: 120px;
}

header a {
    color: var(--accent-color);
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}

h2 {
    margin: 1rem 0;
    border-radius: var(--border-radius-top);
    box-shadow: var(--box-shadow);
}

/* NAV */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav,
.adventure h2,
.employees h2,
.offerings h2 {
    width: var(--width-main);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* HERO */
.hero {
    position: relative;
}

img {
    border-radius: .5rem;
}

.hero img {
    display: block;
    width: var(--width-main);
    height: auto;
    border-radius: var(--border-radius-bottom);
}

.hero h1 {
    position: absolute;
    top: 40px;
    width: var(--width-main);
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.alternate-hero img {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    height: 300px;
}

.alternate-hero h1 {
    top: 100px;
    padding: 20px;
}

.alternate-hero p {
    position: absolute;
    bottom: 65px;
    margin: 0 auto;
    width: var(--width-main);
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent-color);
    background-color: var(--third-color);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.hero article {
    position: absolute;
    bottom: 10px;
    width: auto;
    padding: 15px;
    background-color: var(--third-color);
    color: var(--accent-color);
    border-radius: 20px;
}

.hero article img {
    float: right;
    width: 200px;
    border-radius: 0 15px 15px 0;
}

/* MAIN */
section {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: var(--margin-main);
}

section h2 {
    grid-column: span 4;
    margin-bottom: 2%;
}

section img {
    max-width: 300px;
    margin: var(--margin-main);
}

iframe,
.history img,
.adventure img,
.employees img,
.questions img,
.offer img,
.signup-layout img {
    box-shadow: var(--box-shadow);
}

.adventures {
    display: block;
}

.adventure,
.trips,
.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--margin-main);
}

.trips figure,
.adventure figure,
.employees figure {
    margin: var(--margin-main);
    margin-top: 2%;
    width: 150px;
    height: 210px;
}

.trips figure img,
.adventure figure img,
.employees figure img,
.trip img,
.signup-layout img {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    height: 150px;
    width: var(--width-main);
}

.employees img,
.adventure img {
    border-radius: var(--border-radius-top);
}

.trips figcaption,
.adventure figcaption,
.employees figcaption {
    text-align: center;
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-top: .6rem;
    border-radius: var(--border-radius-bottom);
    padding: .5rem 1rem;
}

.adventure figcaption {
    min-height: 56px;
}

/* CONTACT PAGE */
.company-info {
    display: block;
    text-align: center;
}

.company-info h1,
.company-info h2 {
    background-color: var(--accent-color);
    color: var(--primary-color);
    margin-bottom: auto;
    box-shadow: none;
}

.company-info h2 {
    font-family: var(--body-font);
    color: var(--body-font-color);
    font-size: 1rem;
    margin: var(--margin-main);
    padding: .2rem;
}

.map-form,
.signup-form {
    display: grid;
    grid-template-columns: var(--grid-layout);
    gap: 1rem;
}

iframe {
    width: var(--width-main);
    height: 100%;
    border: none;
    border-radius: .5rem;
}

form {
    width: var(--width-main);
    margin: 0 auto;
    padding: .5rem;
    display: grid;
}

.form-item {
    display: grid;
    border: none;
    align-items: center;
}

.signup-form {
    display: block;
    text-align: center;
}

.signup-form .form-item {
    max-width: 400px;
    margin: .5rem auto;
}

.signup-layout {
    display: grid;
    grid-template-columns: 40% auto;
    margin: 1rem auto;
    padding: .5rem;
}

.signup-info {
    margin: auto;
}

.signup-layout img {
    width: var(--width-main);
    height: 250px;
}

.signup-form p,
.signup-form label {
    font-size: 1.3rem;
}

.signup-form button {
    text-align: center;
    width: 80%;
}

textarea,
label,
input,
select,
button,
form h3,
.contact-button,
.trips-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    margin: .3rem;
    font-size: .8rem;
}

textarea,
select,
input,
button,
.contact-button,
.trips-button {
    padding: .5rem;
    font-size: 1.1rem;
}

label {
    text-align: left;
    padding-right: .5rem;
    margin: .5rem 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 1rem;
}

button,
.contact-button,
.trips-button {
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    margin: 2% auto;
    border-radius: .5rem;
    border: none;
    width: 60%;
    max-width: 500px;
}

button:hover,
.contact-button:hover,
.trips-button:hover {
    cursor: pointer;
    background-color: blue;
}

.contact-button,
.trips-button {
    text-decoration: none;
    width: fit-content;
    line-height: normal;
    text-align: center;
    margin: var(--margin-main);
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.options,
.subscribe {
    grid-template-columns: 1fr auto;
}

/* TRIPS PAGE */
.trips {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.trip h2 {
    margin: 0;
    border-radius: var(--border-radius-top);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: none;
}

.trip {
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    width: 260px;
    margin: var(--margin-main);
    height: 100%;
    min-height: 390px;
}

.trip img {
    width: var(--width-main);
    margin: 0;
    padding: 0;
    border-radius: 0;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: var(--body-font-color);
    color: var(--accent-color);
    font-weight: 700;
}

.prep {
    display: block;
    margin: var(--margin-main);
    padding: 1rem;
}

.prep table {
    margin: var(--margin-main);
    width: var(--width-main);
}

.prep thead tr th {
    background-color: var(--primary-color);
}

.questions {
    display: grid;
    grid-template-columns: var(--grid-layout);
    width: var(--width-main);
}

.questions-contact {
    text-align: center;
    margin: var(--margin-main);
}

.questions img {
    border-radius: .5rem;
}

/* HOME PAGE */
.offerings {
    display: flex;
    flex-wrap: wrap;
    width: var(--width-main);
}

.offer h3,
.adventure figcaption,
.employees figcaption {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    width: var(--width-main);
    margin: var(--margin-main);
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    height: 100%;
    text-align: center;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.adventure figcaption,
.employees figcaption {
    height: 56px;
    margin-top: 1rem;
    border-radius: var(--border-radius-bottom);
}

.offer {
    width: var(--width-main);
    display: grid;
    grid-template-columns: var(--grid-layout);
    gap: 1rem;
    margin: var(--margin-main);
    padding: 1rem;
    text-align: center;
}

.offer h3 {
    padding: .5rem;
}

.offer img {
    width: var(--width-main);
    max-width: max-content;
}

.trips-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
}

/* FOOTER */
footer {
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-columns: 70% auto;
    margin-top: 2rem;
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: var(--border-radius-top);
}

.socialmedia a {
    text-decoration: none;
    margin: 0 5px;
}

.socialmedia a img {
    width: 40px;
}