* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-size: 1.3em;
    color: darkblue;
    background-color: #fff;
    margin: 2%;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.3em;
    color: darkblue;
    text-align: center;
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 3%;
    border: 1px solid darkblue;
    border-radius: .5rem;
    background-color: #eae8e8;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: .5rem;
    border: 2px solid darkblue;
    padding: .5rem;
}

legend {
    padding: 0.5rem;
    color: darkblue;
    font-size: 1em;
}

textarea,
label,
input,
select,
button {
    font-family: 'Courier New', Courier, monospace;
}

textarea,
select,
input,
button {
    padding: .5rem;
    font-size: 1.1rem;
}

label {
    text-align: right;
    padding-right: .5rem;
    margin: .5rem 0;
}

label[for="feedback"] {
    text-align: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    background-color: darkblue;
    color: white;
    font-weight: 700;
    margin: 2% auto;
    border-radius: .5rem;
    border: none;
    width: 60%;
    max-width: 500px;
}

button:hover {
    cursor: pointer;
    background-color: blue;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

footer {
    text-align: center;
    margin-top: 1.5rem;
    border-top: 1px solid darkblue;
}