* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

main {
    max-width: 700px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(244, 244, 244);
    border-radius: .5rem;
}

h1 {
    margin: .5rem;
    color: darkblue;
    text-align: center;
}

form {
    max-width: 550px;
    margin: 1rem auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
}

input,
textarea,
select,
button {
    margin-top: .5rem;
    padding: .6rem;
    width: 100%;
}

button {
    background-color: darkblue;
    color: white;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: .5rem;
    max-width: 450px;
    padding: 1rem;
}

button:hover {
    background-color: blue;
    cursor: pointer;
    font-weight: 700;
}

code {
    display: block;
    background-color: rgb(47, 47, 47);
    color: white;
    max-width: 85%;
}

.box {
    padding: 1rem;
    margin: 1rem auto;
}

/* .quiz-item {} */

footer {
    text-align: center;
}