/* Variables */
:root {
    --margin: 1rem;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 10%);
    --height: auto;
    --text-color: #000;
    --border-radius: 10px;
    --font-family: "Yuyu", sans-serif;
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 700px;
    margin: var(--margin);
    padding: var(--padding);
}

h1 {
    font-family: var(--font-family);
    color: darkblue;
    padding-bottom: var(--padding);
}

main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 3px;
    margin: 0 0 var(--margin) var(--margin);
    box-shadow: 0 0 30px gray;
    border-radius: var(--border-radius);
}

p {
    padding: 0;
    color: var(--text-color);
}

aside {
    width: 15rem;
    text-align: center;
    position: relative;
}

aside h2 {
    font-family: var(--font-family);
    font-size: 2.3rem;
    position: absolute;
    top: 20px;
    left: 110px;
    color: #c3632c;
}

aside img {
    width: 200px;
    height: var(--height);
    border-radius: var(--border-radius);
}

footer {
    margin-top: var(--margin);
    border-top: var(--border);
    color: var(--text-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: var(--margin);
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #ddd;
    color: var(--text-color);
}

main .box {
    max-width: 450px;
    padding: 1.3rem;
}