nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 900px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 15rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 1rem;
    background-color: #dbdbdb;
    color: #000;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgb(0 0 0 / 10%);
    color: black;
    text-align: center;
}