/* Variables */
:root {
    --margin: 1rem;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 10%);
    --height: auto;
    --text-color: #000;
    --border-radius: 10px;
    --font-family: "Yuyu", sans-serif;
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

main {
    margin: 1rem;
    padding: var(--padding);
    grid-column: 2/3;
}

h1 {
    font-family: var(--font-family);
    color: darkblue;
    margin-bottom: var(--padding);
    border-bottom: 2px solid darkblue;
    padding-bottom: 5px;
    grid-column-start: span 1;
}

main img {
    float: right;
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 3px;
    margin: 0 0 var(--margin) var(--margin);
    box-shadow: 0 0 30px gray;
    border-radius: var(--border-radius);
}

p {
    padding: 0;
    color: var(--text-color);
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    height: auto;
}

aside h2 {
    font-family: var(--font-family);
    font-size: 2.3rem;
    position: absolute;
    top: 20px;
    left: 150px;
    color: #c3632c;
}

aside img {
    width: 200px;
    height: var(--height);
    border-radius: var(--border-radius);
}

aside p {
    margin: 2% 0;
}

footer {
    margin-top: var(--margin);
    border-top: var(--border);
    color: var(--text-color);
    text-align: center;
}

/* Class Selectors */
.temples,
.box {
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #ddd;
    color: var(--text-color);
}

.temples {
    width: auto;
    padding: 1.3rem;
    height: 100%;
    margin: 2% 0;
}